body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#photoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.photoItem {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.photoItem img {
    max-width: 100px;
    height: auto;
}
